.header{
    width: 100%;
    height: 80px;
    background-color: rgb(245, 120, 4);
}

.hd{
    font-family: foolight mt light;
    color: rgb(245, 243, 242);
    font-size: 50px;
    padding-left: 50px;
    padding-top: 10px;
    text-decoration: none;
    
}
.li{
    color:aliceblue;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
}
#pic{
    width: 40px;
    height: 40px;
    float: right;
    padding-right: 20px;
    padding-top:10px ;
}
.reform{
    width: 500px;
    height: 300px;
    background-color: rgb(248, 151, 5);
    margin-top: 30;
    place-items:center ;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;

}
#hd{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
form{
    font-size: 20px;
    border-radius:5px ;

}
button{
    margin-top: 20px;
}